.text-color{
    color: white;
}
.bg-color{
    background: linear-gradient(130.70deg, rgb(55, 82, 253) 0.419%,rgb(108, 127, 250) 52.66%,rgb(155, 168, 248) 99.733%);
}
.btn-bg{
    background: rgb(55, 82, 253);
}
/* .btn-bg:hover{
    opacity: 0.6;
} */